mixin form()

  .form
    .container-more-less
      .form__container
        h2.form__title Оставьте заявку
        p.form__text И мы свяжемся с вами
        form(action="#", method="post")
          .form__fields-info
            +custom-input({
              inputPlaceholder: "Имя",
              inputName: "name",
              inputRequired: true
            })
            +custom-input({
              inputPlaceholder: "E-mail или телефон",
              inputName: "telOrMail",
              inputRequired: true
            })
          .form__fields-agreement
            +custom-toggle({
              inputLabel: "Соглашаюсь с условиями",
              inputName: "agreement",
              inputRequired: true,
              inputChecked: true,
            }).custom-toggle--checkbox
            a(href="#").form__more-details Подробнее
          +btn({
            type: "submit",
            text: "Отправить"
          })
