mixin how-do-work-it()
  .how-do-work-it
    .container-more-less
      h2.how-do-work-it__title.text-title КАК ЭТО РАБОТАЕТ
      .how-do-work-it__container
        video(class="video" src="video/animation.webm" poster="img/content/animation.webp" playsinline="" muted="" autoplay="" preload="" loop="")

