mixin marquee-section()
  .marquee-section
    .marquee
      .marquee__text-wrapper
        .marquee__text
          a(href="#").marquee-section__item
            span Цифровая платформа
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span POS-кредитование
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Оформление кредитных карт
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Цифровая платформа
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span POS-кредитование
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Оформление кредитных карт
            +icon("marquee-arrow", 61, 61)
      .marquee__text-wrapper
        .marquee__text
          a(href="#").marquee-section__item
            span Цифровая платформа
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span POS-кредитование
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Оформление кредитных карт
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Цифровая платформа
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span POS-кредитование
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Оформление кредитных карт
            +icon("marquee-arrow", 61, 61)

    .marquee
      .marquee__text-wrapper.marquee__text-wrapper--reverse
        .marquee__text.marquee__text--reverse
          a(href="#").marquee-section__item
            span Партнеры
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span SMS-информирование
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Условия подключения
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Партнеры
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span SMS-информирование
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Условия подключения
            +icon("marquee-arrow", 61, 61)
      .marquee__text-wrapper.marquee__text-wrapper--reverse
        .marquee__text.marquee__text--reverse
          a(href="#").marquee-section__item
            span Партнеры
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span SMS-информирование
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Условия подключения
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Партнеры
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span SMS-информирование
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Условия подключения
            +icon("marquee-arrow", 61, 61)

    .marquee
      .marquee__text-wrapper
        .marquee__text
          a(href="#").marquee-section__item
            span Цифровая платформа
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span POS-кредитование
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Оформление кредитных карт
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Цифровая платформа
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span POS-кредитование
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Оформление кредитных карт
            +icon("marquee-arrow", 61, 61)
      .marquee__text-wrapper
        .marquee__text
          a(href="#").marquee-section__item
            span Цифровая платформа
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span POS-кредитование
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Оформление кредитных карт
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Цифровая платформа
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span POS-кредитование
            +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
            span Оформление кредитных карт
            +icon("marquee-arrow", 61, 61)
