mixin marquee-section()
  .marquee-section
    .container
      .marquee
        .marquee__text-wrapper
          .marquee__text
            a(href="#").marquee-section__item
              span POS-кредитование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span FAQ
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Оферты
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Технологии
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span SMS
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span POS-кредитование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span FAQ
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Оферты
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Технологии
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span SMS-информирование
              +icon("marquee-arrow", 61, 61)

      .marquee
        .marquee__text-wrapper.marquee__text-wrapper--reverse
          .marquee__text.marquee__text--reverse
            a(href="#").marquee-section__item
              span SMS-информирование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span FAQ
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span POS-кредитование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Технологии
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Оферты
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span SMS-информирование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span FAQ
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span POS-кредитование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Технологии
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Оферты
              +icon("marquee-arrow", 61, 61)

      .marquee
        .marquee__text-wrapper
          .marquee__text
            a(href="#").marquee-section__item
              span POS-кредитование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Технологии
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Оферты
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span FAQ
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span SMS
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span POS-кредитование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Технологии
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Оферты
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span FAQ
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span SMS-информирование
              +icon("marquee-arrow", 61, 61)
