mixin marquee-section()
  .marquee-section
    .container
      .marquee-section__string
        .marquee-section__string-wrapper.marquee-section__string-wrapper--first
          a(href="#").marquee-section__item
              span POS-кредитование
              +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
              span FAQ
              +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
              span SMS информирование
              +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
              span Технологии
              +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
              span Оферта
              +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
              span POS-кредитование
              +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
              span FAQ
              +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
              span Оферты
              +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
              span Технологии
              +icon("marquee-arrow", 61, 61)
          a(href="#").marquee-section__item
              span SMS-информирование
              +icon("marquee-arrow", 61, 61)

      .marquee-section__string
        .marquee-section__string-wrapper.marquee-section__string-wrapper--second

            a(href="#").marquee-section__item
              span SMS-информирование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Оферты
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Технологии
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span FAQ
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span POS-кредитование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span SMS-информирование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span FAQ
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span POS-кредитование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Технологии
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Оферты
              +icon("marquee-arrow", 61, 61)

      .marquee-section__string
        .marquee-section__string-wrapper.marquee-section__string-wrapper--third

            a(href="#").marquee-section__item
              span POS-кредитование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Оферты
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span POS-кредитование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span SMS информирование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Технологии
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span POS-кредитование
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Технологии
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span Оферты
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span FAQ
              +icon("marquee-arrow", 61, 61)
            a(href="#").marquee-section__item
              span SMS-информирование
              +icon("marquee-arrow", 61, 61)
