.btn {
  display: inline-flex;
  padding: 12px 20px;
  border: none;
  border-radius: 16px;

  background-color: #E2FF32;

  color: #151515;
  font-size: 16px;
  font-weight: 600;
  line-height: 114%;
  text-transform: uppercase;

  cursor: pointer;
  transition: opacity $trans-default;

  &--form {
    padding: 20px 40px;

    font-size: 20px;
    font-weight: 600;
    line-height: 114%;
    text-transform: capitalize;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.7;
  }
}
