.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  aspect-ratio: 720 / 413;
  padding: 40px;
  padding-bottom: 60px;
  border-radius: 20px;

  color: #151515;

  background-image: linear-gradient(108.54deg, #D0D0D0 -0.99%, #838383 187.83%);
  cursor: pointer;

  transition: transform $trans-600;

  @include vp-767 {
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
  }

  @include vp-479 {
    aspect-ratio: 288 / 197;
    padding: 10px;
    padding-bottom: 10px;
  }

  &__info {
    margin-bottom: 20px;

    @include vp-767 {
      margin-bottom: 15px;
    }

    @include vp-479 {
      margin-bottom: 10px;
    }
  }

  &__info-head {
    margin-bottom: 28px;

    @include vp-767 {
      margin-bottom: 16px;
    }

    @include vp-479 {
      margin-bottom: 8px;
    }
  }

  &__info-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 8px;

    @include vp-767 {
      margin-bottom: 5px;
    }

    @include vp-479 {
      margin-bottom: 3px;
    }
  }

  &__info-title {
    margin: 0;

    font-family: $ff-century;
    font-size: 24px;
    font-weight: 700;
    line-height: 123%;

    @include vp-767 {
      font-size: 20px;
    }

    @include vp-479 {
      font-size: 16px;
    }

  }

  &__info-subtitle {
    margin: 0;

    font-size: 16px;
    font-weight: 600;
    line-height: 120%;

    @include vp-767 {
      font-size: 14px;
    }

    @include vp-479 {
      font-size: 12px;
    }
  }

  &__info-content {
    max-width: 490px;
    margin: 0;
  }

  &__info-text {
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

    @include vp-767 {
      font-size: 14px;
    }

    @include vp-479 {
      font-size: 12px;
    }
  }

  &__info-text+.card__info-text {
    margin-top: 12px;

    @include vp-767 {
      margin-top: 8px;
    }

    @include vp-479 {
      margin-top: 5px;
    }
  }

  &__info-list {
    margin: 0;
    padding-left: 20px;

    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

    @include vp-767 {
      font-size: 14px;
    }

    @include vp-479 {
      font-size: 12px;
    }
  }

  &__info-text+.card__info-list {
    margin-top: 12px;

    @include vp-767 {
      margin-top: 8px;
    }

    @include vp-479 {
      margin-top: 5px;
    }
  }

  &__arrow {
    flex-shrink: 0;

    width: 40px;
    height: 40px;
    margin-left: 40px;

    @include vp-767 {
      width: 25px;
      height: 25px;
    }

    @include vp-479 {
      margin-left: 20px;

      width: 18px;
      height: 18px;
    }
  }

  .card__image {
    width: 100px;
    height: 100px;
    margin-top: auto;

    @include vp-767 {
      width: 60px;
      height: 60px;
    }

    @include vp-479 {
      width: 30px;
      height: 30px;
    }
  }
}

.card--black {
  color: $color-default-white;
  background-image: linear-gradient(#262626 0, #262626 100%);
}

.card--yellow {
  background-image: linear-gradient(118.23deg, #E2FF32 5.2%, #AFC529 139.8%);
}
