.faq {
  margin-bottom: 145px;

  @include vp-1279 {
    margin-bottom: 120px;
  }

  @include vp-479 {
    //margin-bottom: 80px;
  }

  &__title {
    margin: 0;
    margin-bottom: 47px;

    @include vp-1279 {
      margin-bottom: 35px;
    }

    @include vp-767 {
      margin-bottom: 20px;
    }
  }

  &__container {
    padding: 40px 300px 63px 104px;
    //aspect-ratio: 1180 / 414;
    background-image: url("../img/svg/background-faq.svg");
    //background-repeat: no-repeat;
    background-repeat: repeat-y;
    background-size: 100%;

    @include vp-1279 {
      padding: 20px 40px 20px 40px;
    }

    @include vp-1023 {
      aspect-ratio: initial;
      background-repeat: repeat-y;
    }

    @include vp-767 {
      padding: 10px 20px 10px 20px;
    }

    @include vp-479 {
      //padding: 5px 0;
      padding: 10px;
    }
  }

  &__element:last-child {
    margin-bottom: 0;
  }

  &__element {
    margin-bottom: 8px;

    font-size: 16px;
    line-height: 115%;

    @include vp-479 {
      font-size: 13px;
    }
  }

  &__element.is-active>&__button {
    //background-image: linear-gradient(90deg, #E3E1E1 0%, #E2FF32 100%);
    color: #151515;
    border-color: $color-transparent;
    background-color: #F5F5F5;
  }

  &__button {
    padding: 19px;
    border-radius: 16px;
    border: 1px solid #ACACAC;

    font-size: 16px;
    font-weight: 500;
    line-height: 115%;
    color: #E3E1E1;
    text-align: left;

    background-color: #151515;
    cursor: pointer;

    @include vp-479 {
      padding: 7px 11px;
      //border-radius: 8px;

      //font-size: 14px;
      font-size: 13px;
      max-width: 271px;
    }
  }

  &__content {
    padding-left: 300px;

    @include vp-1279 {
      padding-left: 200px;
    }

    @include vp-767 {
      padding-left: 50px;
    }
  }

  &__element.is-active>&__content {
    margin-top: 8px;

    @include vp-767 {
      margin-top: 20px;
    }
  }

  &__wrapper {
    padding: 20px;
    border-radius: 16px;

    color: #151515;

    background-image: linear-gradient(90deg, #E3E1E1 0%, #E2FF32 100%);
    background-color: #F5F5F5;


    @include vp-479 {
      padding: 8px 12px;
      //border-radius: 8px;
    }

    p {
      margin: 0;
    }
  }
}