.header {
  width: 100%;
  padding: 20px 0;

  @include vp-767 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper {
    display: contents;

    @include vp-767 {
      //display: block;
      display: flex;
      flex-direction: column;

      position: fixed;
      top: 64px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;

      padding: 40px;
      padding-bottom: 60px;

      background-color: #151515;

      //backdrop-filter: blur(size(3px));

      visibility: hidden;
      opacity: 0;
      pointer-events: none;

      overflow: auto;

      .is-open & {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }

      .header__link-enter {
        transition: opacity $trans-default, transform $trans-default;

        opacity: 0;
        transform: translateY(25px);
      }

      .is-open & {
        .header__link-enter {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    a {
      color: #D9D9D9;
      transition: opacity $trans-default;

      @include hover-focus {
        opacity: 0.7;
      }
    }
  }

  &__nav {
    margin: 0 40px;

    @include vp-767 {
      margin: 0 auto;

      .header__item {
        transition: opacity $trans-default, transform $trans-default;

        opacity: 0;
        transform: translateY(-25px);
      }

      .is-open & {
        .header__item {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;

    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 16px;
    line-height: 114%;

    @include vp-767 {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__link-enter {
    font-size: 16px;
    line-height: 114%;

    @include vp-767 {
      margin: auto auto 0 auto;
    }
  }

  &__burger {
    display: none;

    //position: relative; ////
    //z-index: 25; ////

    flex-direction: column;
    //align-items: flex-end;
    //justify-content: center;
    //gap: 5px;
    justify-content: space-around;

    //width: 28px;
    //height: 28px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;

    background-color: $color-transparent;

    cursor: pointer;

    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.7;
    }

    span {
      //width: 28px;
      width: 24px;
      height: 2px;
      background-color: $color-default-white;

      transition: transform $trans-600, opacity $trans-default, background-color $trans-default;
    }

    span:nth-child(1) {
      .is-open & {
        //transform: translateY(7px) rotate(225deg);
        transform: translateY(8px) rotate(225deg);
      }
    }

    span:nth-child(3) {
      .is-open & {
        //transform: translateY(-7px) rotate(-225deg);
        transform: translateY(-8px) rotate(-225deg);
      }
    }

    span:nth-child(2) {
      .is-open & {
        opacity: 0;
      }
    }

    @include vp-767 {
      display: flex;
    }
  }
}


/*

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;

  width: 100%;
  padding: size(30px) 0;

  background-color: $color-default-white;

  @include vp-1279 {
    padding: size(26px) 0;
  }

  @include vp-479 {
    padding: size(22px) 0;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: size(122px);

    transition: color $trans-default;

    @include vp-1279 {
      margin-right: size(30px);

      svg {
        width: size(150px);
        height: size(17px);
      }
    }

    @include vp-959 {
      svg {
        width: size(134px);
        height: size(16px);
      }
    }
  }

  &__wrapper {
    margin-right: size(50px);

    @include vp-1279 {
      position: fixed;
      top: size(82px);
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;

      margin-right: 0;

      background-color: rgba($color-default-black, 0.4);
      backdrop-filter: blur(size(3px));

      visibility: hidden;
      opacity: 0;
      pointer-events: none;

      overflow: auto;

      .is-open & {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }
    }

    @include vp-479 {
      top: size(74px);

      background-color: $color-blue;
    }
  }

  &__nav {
    display: flex;

    .header__add-nav {
      display: none;

      opacity: 0;
      transform: translateY(size(-25px));

      transition: opacity $trans-default, transform $trans-default;

      @include vp-1279 {
        display: flex;
        flex-direction: column;

        width: size(223px);
      }

      @include vp-479 {
        margin-left: auto;
        margin-right: auto;
        min-height: size(196px);
      }
    }

    .header__button-start.btn {
      display: none;

      @include vp-1279 {
        display: inline-flex;

        margin-left: 0;
        margin-top: auto;

        opacity: 0;
        transform: translateY(size(-25px));

        transition: opacity $trans-default, transform $trans-default;
      }

      @include vp-479 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: size(90px);

        order: -1;
      }
    }

    @include vp-1279 {
      background-color:$color-blue;

      transition: background-color $trans-default;

      .is-open & {

        .header__item {
          opacity: 1;
          transform: translateY(0);
        }

        .header__button-start.btn {
          opacity: 1;
          transform: translateY(0);
        }

        .header__add-nav {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &__nav-wrapper {
    @include vp-1279 {
      display: flex;
      justify-content: space-between;

      margin: 0 auto;
      margin-top: size(24px);
      margin-bottom: size(52px);

      width: size(574px);
    }

    @include vp-959 {
      margin-top: size(10px);
    }

    @include vp-479 {
      margin-top: size(20px);
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    gap: size(25px);

    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-1279 {
      flex-direction: column;
      gap: size(22px);

      width: size(201px);
      margin-right: size(150px);
    }

    @include vp-959 {
      gap: size(27px);
      margin-right: size(51px);
    }

    @include vp-479 {
      align-items: center;
      text-align: center;

      margin-bottom: size(53px);
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__item {
    @include vp-1279 {
      margin-bottom: 0;

      opacity: 0;
      transform: translateY(-25px);

      transition: opacity ease-out 0.3s, transform ease-out 0.3s;
    }
  }

  &__link {
    padding: size(4px) 0;

    font-weight: 500;
    font-size: size(18px);
    line-height: size(22px);
    color: $color-black;

    transition: color $trans-default;

    @include hover-focus {
      color: $color-blue;
    }

    @include vp-1279 {
      color: $color-default-white;
      font-size: size(16px);
      line-height: size(18px);

      @include hover-focus {
        color: $color-gray-05;
      }
    }
  }

  &__burger {
    display: none;

    position: relative;
    z-index: 25;

    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: size(5px);

    width: size(28px);
    height: size(28px);
    border-radius: size(5px);
    padding: 0;
    border: none;

    background-color: $color-transparent;

    cursor: pointer;

    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.7;
    }

    span {
      width: size(28px);
      height: size(2px);
      background-color: $color-blue;

      transition: transform $trans-600, opacity $trans-default, background-color $trans-default;
    }

    span:nth-child(1) {
      .is-open & {
        transform: translateY(size(7px)) rotate(225deg);
      }
    }

    span:nth-child(3) {
      .is-open & {
        transform: translateY(size(-7px)) rotate(-225deg);
      }
    }

    span:nth-child(2) {
      width: size(20px);

      .is-open & {
        opacity: 0;
      }
    }

    @include vp-1279 {
      display: flex;
    }
  }

  &__button-start.btn {
    margin-left: auto;

    @include vp-1279 {
      transition: opacity $trans-default;

      @include hover-focus {
        opacity: 0.7;
      }
    }

    @media (min-width: 1280px) {
      transition: color $trans-default;

      @include hover-focus {
        .btn__text {
          color: $color-blue;
        }
      }
    }

    @include vp-1279 {
      display: none;
    }
  }

  &__link-language {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: size(30px);

    width: size(50px);
    height: size(30px);
    padding: 0;
    border-radius: size(100px);
    border: size(1px) solid $color-blue;

    color: $color-blue;
    font-weight: 500;
    font-size: size(14px);
    line-height: size(17px);
    cursor: pointer;
    background-color: $color-transparent;
    transition: color $trans-default, background-color $trans-default;

    @include hover-focus {
      background-color: $color-blue;
      color: $color-default-white;
    }

    @include vp-1279 {
      margin-left: auto;
      margin-right: size(52px);
    }

    @include vp-959 {
      margin-right: size(42px);
    }

    @include vp-479 {
      margin-right: size(30px);
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: size(14px);

    @include vp-479 {
      align-items: center;
    }

    a, p {
      margin: 0;
      color: $color-default-white;

      @include vp-1279 {
        font-weight: 400;
        font-size: size(14px);
        line-height: size(16px);
      }
    }

    a {
      transition: opacity $trans-default;

      @include hover-focus {
        opacity: 0.7;
      }
    }
  }
}

.is-open.header {
  @include vp-1279 {
    background-color: $color-blue;
    .logo {
      color: $color-default-white;
    }

    .header__burger {
      span {
        background-color: $color-default-white;
      }
    }

  }

  .toggle-language {
    border-color: $color-default-white;

    label {
      color: $color-default-white;
      border-color: $color-default-white;
    }

    @include hover-focus {
      label {
        background-color: $color-default-white;

        color: $color-blue;
      }
    }
  }
}

.header--shadow {
  box-shadow: size(2px) size(4px) size(8px) 0 rgba($color-default-black, 0.1), 0 0 0 size(8px) rgba($color-default-white, 0.7);

  @include vp-479 {
    box-shadow: size(1px) size(2px) size(4px) 0 rgba($color-default-black, 0.1), 0 0 0 size(4px) rgba($color-default-white, 0.7);
  }
}

.header--special {
  background-color: $color-black-2;

  .container {
    &::before {
      display: none;
    }
  }


  .logo {
    color: $color-default-white;
  }

  @media (min-width: 1280px) {
    .header__link {
      color: $color-default-white;

      @include hover-focus {
        color: $color-blue;
      }
    }
  }

  @media (min-width: 1280px) {
    .header__button-start {
      .icon {
        color: $color-default-white;
        background-color: $color-blue;
      }
      .btn__text {
        color: $color-default-white;
      }

      @include hover-focus {
        opacity: 1;

        .btn__text {
          color: $color-blue;
        }
      }
    }
  }

  .header__burger {
    span {
      background-color: $color-default-white;
    }
  }

  &.is-open {
    background-color: $color-blue;
  }
}


.header {
  padding: 28px 0;

  background-color: $color-neon-blue;

  .container {
    display: flex;
  }

  &__logo {
    color: $color-default-white;
  }
}
*/