.header {
  width: 100%;
  padding: 20px 0;

  background-color: #151515;

  @include vp-767 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;

    padding: 12px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper {
    display: contents;

    @include vp-767 {
      display: flex;
      flex-direction: column;

      position: fixed;
      //top: 64px;
      top: 48px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;

      padding: 40px;
      padding-bottom: 60px;

      background-color: #151515;

      visibility: hidden;
      opacity: 0;
      pointer-events: none;

      overflow: auto;

      .is-open & {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }

      .header__link-enter {
        transition: opacity $trans-default, transform $trans-default;

        opacity: 0;
        transform: translateY(25px);
      }

      .is-open & {
        .header__link-enter {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    a {
      color: #D9D9D9;
      transition: opacity $trans-default;

      @include hover-focus {
        opacity: 0.7;
      }
    }
  }

  &__nav {
    margin: 0 40px;

    @include vp-767 {
      margin: 0 auto;

      .header__item {
        transition: opacity $trans-default, transform $trans-default;

        opacity: 0;
        transform: translateY(-25px);
      }

      .is-open & {
        .header__item {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;

    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 16px;
    line-height: 114%;

    @include vp-767 {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__link.is-active {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      left: -8px;
      width: calc(100% + 2 * 8px);
      height: calc(100% + 2 * 8px);
      border: 1px solid #D9D9D9;
      border-radius: 16px;
    }
  }

  &__link-enter {
    font-size: 16px;
    line-height: 114%;

    @include vp-767 {
      margin: auto auto 0 auto;
    }
  }

  &__burger {
    display: none;

    flex-direction: column;
    justify-content: space-around;

    width: 24px;
    height: 24px;
    padding: 0;
    border: none;

    background-color: $color-transparent;

    cursor: pointer;

    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.7;
    }

    span {
      width: 24px;
      height: 2px;

      background-color: $color-default-white;

      transition: transform $trans-600, opacity $trans-default, background-color $trans-default;
    }

    span:nth-child(1) {
      .is-open & {
        transform: translateY(8px) rotate(225deg);
      }
    }

    span:nth-child(3) {
      .is-open & {
        transform: translateY(-8px) rotate(-225deg);
      }
    }

    span:nth-child(2) {
      .is-open & {
        opacity: 0;
      }
    }

    @include vp-767 {
      display: flex;
    }
  }
}

.header--shadow {
  @include vp-767 {
    box-shadow: 1px 2px 4px 0 rgba($color-default-white, 0.2), 0 0 0 4px rgba(#151515, 0.6);
  }
}
