.marquee-section {
  margin-bottom: 117px;

  @include vp-767 {
    display: none;
  }

  &__string {
    display: flex;
    width: 100%;
    overflow: hidden;

    font-family: $ff-century;
    font-size: 32px;
    line-height: 122%;
  }

  &__string+.marquee-section__string {
    margin-top: 12px;
  }

  &__string-wrapper {
    display: flex;
    gap: 48px;
  }

  &__string-wrapper--first {
    transform: translateX(-105px);
  }

  &__string-wrapper--second {
    transform: translateX(-80px);
  }

  &__string-wrapper--third {
    transform: translateX(-300px);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 4px;

    width: max-content;

    color: #ACACAC;
    transition: color $trans-default;

    svg {
      flex-shrink: 0;

      width: 48px;
      height: 48px;
    }

    @include hover-focus {
      color: $color-default-white;
    }
  }
}