.marquee {
  display: flex;
  width: 100%;
  overflow: hidden;

  &__text {
    display: flex;

    animation-name: marquee-moving;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__text--reverse {
    animation-name: marquee-moving-reverse;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__text-wrapper--reverse {
    transform: translateX(-100%);
  }
}

@keyframes marquee-moving {
  0% {
    transform: translateZ(0) translateX(0);
  }

  100% {
    transform: translateZ(0) translateX(-100%);
  }
}

@keyframes marquee-moving-reverse {
  0% {
    transform: translateZ(0) translateX(0);
  }

  100% {
    transform: translateZ(0) translateX(100%);
  }
}