.page-logo {
  --delay: 0.125s;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #151515;
  transition: opacity 0.5s ease-in;
}

.page-logo.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7,
.circle8,
.circle9,
.circle10,
.circle11,
.circle12 {
  opacity: 0;
  transition: opacity 0.125s ease-out;
}

.circle1 {
  transition-delay: calc(1 * var(--delay));
}

.circle2 {
  transition-delay: calc(2 * var(--delay));
}

.circle3 {
  transition-delay: calc(3 * var(--delay));
}

.circle4 {
  transition-delay: calc(4 * var(--delay));
}

.circle5 {
  transition-delay: calc(5 * var(--delay));
}

.circle6 {
  transition-delay: calc(6 * var(--delay));
}

.circle7 {
  transition-delay: calc(7 * var(--delay));
}

.circle8 {
  transition-delay: calc(8 * var(--delay));
}

.circle9 {
  transition-delay: calc(9 * var(--delay));
}

.circle10 {
  transition-delay: calc(10 * var(--delay));
}

.circle11 {
  transition-delay: calc(11 * var(--delay));
}

.circle12 {
  transition-delay: calc(12 * var(--delay));
}

.in {
  opacity: 0;
  transform: translateY(-150px);
  transition: opacity 0.45s ease-in 1.0s, transform 0.45s ease-in 1.0s;
}

.pocket {
  opacity: 0;
  transform: rotateY(-90deg);
  transition: transform 0.45s ease-in 0.9s, opacity 0.45s ease-in 0.9s;
  transform-origin: center;
}

.logotype {
  perspective: (150px);

  position: absolute;
  width: 240px;
  height: 66px;

  transition: opacity 0.45s ease-in 1.5s
}

.dots,
.in,
.pocket {
  position: absolute;
}

.play {
  .pocket {
    opacity: 1;
    transform: rotateY(0);
  }

  .circle1,
  .circle2,
  .circle3,
  .circle4,
  .circle5,
  .circle6,
  .circle7,
  .circle8,
  .circle9,
  .circle10,
  .circle11,
  .circle12 {
    opacity: 1;
  }

  .in {
    opacity: 1;
    transform: rotateY(0);
  }

  .logotype {
    opacity: 0;
  }
}