.resources {
  margin-bottom: 178px;

  @include vp-1279 {
    margin-bottom: 120px;
  }

  @include vp-479 {
    margin-bottom: 80px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 38px;

    @include vp-1279 {
      margin-bottom: 35px;
    }
  }

  &__cards {
    width: 720px;
    //aspect-ratio: 720 / 820;

    //overflow: hidden;

    @include vp-767 {
      width: 100%;
    }
  }
}
