.resources {
  --translate-number: -276px;

  @include vp-767 {
    --translate-number: -165px;
  }

  @include vp-479 {
    --translate-number: -195px;
  }

  margin-bottom: 178px;

  @include vp-1279 {
    margin-bottom: 120px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 38px;

    @include vp-1279 {
      margin-bottom: 35px;
    }

    @include vp-767 {
      margin-bottom: 20px;
    }
  }

  &__cards {
    width: 720px;
    border-radius: 20px;
    height: 824px;
    overflow: hidden;

    @include vp-767 {
      width: 100%;
      height: 533px;

    }

    @include vp-479 {
      width: 100%;
      height: 627px;
    }
  }
}


[data-active="3"] {
  [data-number="1"] {
    transform: translateY(var(--translate-number));
  }

  [data-number="2"] {
    transform: translateY(calc(2 * var(--translate-number)));
  }

  [data-number="3"] {
    transform: translateY(calc(3 * var(--translate-number)));
  }
}

[data-active="0"] {
  [data-number="1"] {
    transform: translateY(0);
  }

  [data-number="2"] {
    transform: translateY(var(--translate-number));
  }

  [data-number="3"] {
    transform: translateY(calc(2 * var(--translate-number)));
  }
}

[data-active="1"] {
  [data-number="1"] {
    transform: translateY(var(--translate-number));
  }

  [data-number="2"] {
    transform: translateY(var(--translate-number));
  }

  [data-number="3"] {
    transform: translateY(calc(2 * var(--translate-number)));
  }
}

[data-active="2"] {
  [data-number="1"] {
    transform: translateY(var(--translate-number));
  }

  [data-number="2"] {
    transform: translateY(calc(2 * var(--translate-number)));
  }

  [data-number="3"] {
    transform: translateY(calc(2 * var(--translate-number)));
  }
}