mixin card()
  .card&attributes(attributes)
    .card__info
      .card__info-head
        .card__info-title-wrap
          h3.card__info-title Оформление в e.com
          +icon("card-arrow", 40, 40).card__arrow
        p.card__info-subtitle Оформление в e.com
      .card__info-content
        p.card__info-text Позволяет клиентам самостоятельно оформлять покупку, выбрав соответствующий способ оплаты на сайте:
        ul.card__info-list
          li.card__info-list-item в рассрочку/кредит
          li.card__info-list-item через баннер/ссылку/QR-код/корзину сайта
    +icon("ecom", 100, 100).card__image
